# This is currently empty. If you need some ignores, which are specific to your workflow (e.g. IDE), consider
# including them into $GIT_DIR/info/exclude (in this repository) or globally into $XDG_CONFIG_HOME/git/ignore
# See https://git-scm.com/docs/gitignore 
.DS_Store
.settings/language.settings.xml
.settings/language.settings.xml
src/seq/bicg/CrossSec-Y
src/seq/bicg/log
src/seq/bicg/mueller
src/seq/block10/CrossSec-Y
src/seq/block10/log
src/seq/block10/mueller
src/seq/block100/log
src/seq/B_ADDA_b50.txt
src/seq/B_ADDA_b50.txt
src/seq/block100/log
src/seq/B_ADDA(before_QR).txt
src/seq/block100/CrossSec-Y
src/seq/block100/log
src/seq/block100/mueller
src/seq/block100/CrossSec-Y
src/seq/block100/CrossSec-Y
src/seq/block100/log
src/seq/block100/mueller
src/seq/bicg2/CrossSec-Y
src/seq/block100/CrossSec-Y
src/seq/block100/log
src/seq/block100/mueller
src/seq/block1000/log
src/seq/block100_bicg/CrossSec-Y
src/seq/block100_bicg/log
src/seq/block100_bicg/mueller
src/seq/block200/CrossSec-Y
src/seq/block200/log
src/seq/block200/mueller
src/seq/block50/CrossSec-Y
src/seq/block50/log
src/seq/block50/mueller
src/seq/block25/CrossSec-Y
src/seq/block25/log
src/seq/block25/mueller
src/seq/Q.txt
*.txt
src/seq/Q.txt
src/seq/block10-qr/CrossSec-Y
src/seq/block10-qr/log
src/seq/block10-qr/mueller
src/seq/block100-qr/CrossSec-Y
src/seq/block100-qr/log
src/seq/block100-qr/mueller
src/seq/block200-qr/CrossSec-Y
src/seq/block200-qr/log
src/seq/block200-qr/mueller
src/seq/block25-qr/CrossSec-Y
src/seq/block25-qr/log
src/seq/block25-qr/mueller
src/seq/block5-qr/CrossSec-Y
src/seq/block5-qr/log
src/seq/block5-qr/mueller
src/seq/block5/CrossSec-Y
src/seq/block5/log
src/seq/block5/mueller
src/seq/block50-qr/CrossSec-Y
src/seq/block50-qr/log
src/seq/block50-qr/mueller
src/seq/Q.txt
src/seq/Q.txt
src/seq/Q.txt
src/seq/block150-qr/log
src/seq/eels-bicg/CrossSec-Y
src/seq/eels-bicg/log
src/seq/eels-bicg/mueller
src/seq/eels-block10-qr/CrossSec-Y
src/seq/eels-block10-qr/log
src/seq/eels-block10-qr/mueller
src/seq/eels-block10/log
src/seq/eels-block100-qr/log
src/seq/eels-block100/log
src/seq/eels-block5-qr/CrossSec-Y
src/seq/eels-block5-qr/log
src/seq/eels-block5-qr/mueller
src/seq/eels-block5/CrossSec-Y
src/seq/eels-block5/log
src/seq/eels-block5/mueller
src/seq/eels-block50-qr/log
src/seq/eels-block50/log
src/seq/block1-cocgrq/CrossSec-Y
src/seq/block1-cocgrq/log
src/seq/block1-cocgrq/mueller
src/seq/block10-bicgblock/CrossSec-Y
src/seq/block10-bicgblock/log
src/seq/block10-bicgblock/mueller
src/seq/block10-cocgrq/CrossSec-Y
src/seq/block10-cocgrq/log
src/seq/block10-cocgrq/mueller
src/seq/block100-cocgrq/CrossSec-Y
src/seq/block100-cocgrq/log
src/seq/block100-cocgrq/mueller
src/seq/block200-cocgrq/CrossSec-Y
src/seq/block200-cocgrq/log
src/seq/block200-cocgrq/mueller
src/seq/block50-cocgrq/CrossSec-Y
src/seq/block50-cocgrq/log
src/seq/block50-cocgrq/mueller
